/* shared style */
.margin-bottom{
    margin-bottom: 100px;
}
.black{
    color: rgba(0, 0, 0, 1) ;
}
.orange{
    color: rgba(233, 90, 8, 1) ;
}
.grey{
    color: rgba(0, 0, 0, 0.5);
}
/* header style */

/* navbar style */
nav{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.cart{
    display: flex;
    gap: 10px; 
    align-items: center;
}
.menu h6 a{
    text-decoration: none;
    font-size: 1rem;
    color: rgba(37, 36, 50, 1);
}
.cart img{
    width: 30%;
    height: 30%;
}

/* banner style */
.banner{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: flex-end;
}
.banner-title{
    font-size: 3rem;
    font-weight: 600;
}
.banner-description{
    font-size: 2rem;
    font-weight: 400;
}
.banner img{
    width: 100%;
}