/* shared style */
.margin-bottom{
    margin-bottom: 100px;
}
.black{
    color: rgba(0, 0, 0, 1) ;
}
.orange{
    color: rgba(233, 90, 8, 1) ;
}
.grey{
    color: rgba(0, 0, 0, 0.5);
}
.btn{
    background-color: rgba(233, 90, 8, 1);
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    
}
/* header style */

/* navbar style */
nav{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.cart{
    display: flex;
    gap: 10px; 
    align-items: center;
}
.menu h6 a{
    text-decoration: none;
    font-size: 1rem;
    color: rgba(37, 36, 50, 1);
}
.cart img{
    width: 30%;
    height: 30%;
}
@media screen and (max-width:576px) {
    .hide{
        display: none;
    }
}

/* banner style */
.banner{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: flex-end;
}
.banner-title{
    font-size: 3rem;
    font-weight: 600;
}
.banner-description{
    font-size: 2rem;
    font-weight: 400;
}
.banner img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
    }
}

/* main style */

/* plant section style */
.plants-section{
    max-width: 1140px;
    margin: 0 auto ; 
}
.plants-section-info{
    text-align: center;
    margin-bottom: 50px;
}
.plants-section-title{
    font-size: 3rem;
    font-weight: 600;
}
.plants-section-description{
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.25rem;
}
.plants-section-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.plants-section-card{
    text-align: center;
}
.plants-section-card img{
    width: 100%;
}
.plant-name{
    font-size: 1.2rem;
    font-weight: 400;
}
.price{
    font-size: 1rem;
    font-weight: bold;
}
@media screen and (max-width:576px) {
    .plants-section-card-container{
        grid-template-columns: repeat(2,1fr);
    }
}