/* shared style */
.margin-bottom{
    margin-bottom: 100px;
}
.black{
    color: rgba(0, 0, 0, 1) ;
}
.orange{
    color: rgba(233, 90, 8, 1) ;
}
.grey{
    color: rgba(0, 0, 0, 0.5);
}
.btn{
    background-color: rgba(233, 90, 8, 1);
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    
}
/* header style */

/* navbar style */
nav{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.cart{
    display: flex;
    gap: 10px; 
    align-items: center;
}
.menu h6 a{
    text-decoration: none;
    font-size: 1rem;
    color: rgba(37, 36, 50, 1);
}
.cart img{
    width: 30%;
    height: 30%;
}
@media screen and (max-width:576px) {
    .hide{
        display: none;
    }
}

/* banner style */
.banner{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: flex-end;
}
.banner-title{
    font-size: 3rem;
    font-weight: 600;
}
.banner-description{
    font-size: 2rem;
    font-weight: 400;
}
.banner img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
    }
}

/* main style */

/* plant section style */
.plants-section{
    max-width: 1140px;
    margin: 0 auto ; 
    /* border: 1px solid tomato; */
}
.plants-section-info{
    text-align: center;
    margin-bottom: 50px;
}
.plants-section-title{
    font-size: 3rem;
    font-weight: 600;
}
.plants-section-description{
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.25rem;
}
.plants-section-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.plants-section-card{
    text-align: center;
}
.plants-section-card img{
    width: 100%;
}
.plant-name{
    font-size: 1.2rem;
    font-weight: 400;
}
.price{
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width:576px) {
    .plants-section-card-container{
        grid-template-columns: repeat(2,1fr);
    }
}

/* plant lover section style */
.plants-lover-section{
    display: flex;
    max-width: 1140px;
    margin: 100px auto;
    gap: 50px;
    align-items: center;
}
.lover-img{
    position: relative;
    width: 100%;
}
.lover-img img{
    width: 100%;
}
.badge{
    position: absolute;
    top: -50px;
    left: 170px;
    width: 250px;
    max-width: 100%;
}
.lover-info{
    max-width: 600px;
}
.lover-title{
    font-size: 3rem;
    font-weight: 600;
}
.lover-list{
    font-size: 1.5rem;
    font-weight: 400;
}

/* .badge{
    position: absolute;
    max-width: 250px;
    width: 100%;
    top: 1040px;
    left: 270px;
} */

@media screen and (max-width:576px){
    .plants-lover-section{
        flex-direction: column;
    }
}
@media screen and (max-width:1140px){
    .badge{
        display: none;
    }
}

/* Latest deal style */
.latest-deal-info{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.latest-deal-title{
    font-size: 3rem;
    font-weight: 600;
}
.latest-deal-description{
    /* border: 1px solid tomato; */
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}
.deal-card-container{
    display: flex;
    max-width: 1140px;
    height: 420px;
    margin: 100px auto;
    gap: 20px;
    justify-content: space-between;
    /* border: 1px solid tomato; */
}
.left-card-container{
    /* border: 1px solid tomato; */
    width: 365px;
}
.left-card-upward{
    /* border: 1px solid tomato; */
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(assets/deal-bloom.png);
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
    border-radius: 20px;
}
.left-card-downward{
    /* border: 1px solid tomato; */
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(assets/deal-ana.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center;
    border-radius: 20px;
}
.right-card-container{
    /* bor: 1px solid tomato; */
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center;
    border-radius: 20px;
}
.left-title{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
.left-subtitle a{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}
.right-title{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
.right-subtitle a{
    color:white;
    font-size: 2rem;
    font-weight: 400;
}

@media screen and (max-width:576px){
    .deal-card-container{
        flex-direction: column;
        height: auto;
    }
}

/* join section style */
.join-section{
    max-width: 100%;
    height: 530px;
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px auto;
    align-content: center;
    text-align: center;
}
.join-title{
    color: white;
    font-size: 4rem;
    font-weight: 800;
}
.input-box{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}
.email-input{
    width: 100%;
    padding: 20px;
}
.btn2{
    width: 30%;
}

/* footer style */
footer{
    display: flex;
    max-width: 1140px;
    margin: 100px auto;
    justify-content: space-around;
}
.footer-link{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 400px;
    width: 100%;
}
.footer-logo p{
    max-width: 300px;
    font-size: 1.5rem;
}
.footer-link a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.footer-icon{
    max-width: 200px;
    width: 100%;
}
.footer-icon img{
    margin-right: 0.7rem;
}

@media screen and (max-width:576px){
    footer{
        flex-direction: column;
    }
    .footer-link{
        grid-template-columns: repeat(1,1fr);
    }
}
